body {
  font-family: sans-serif;
  background-color: lightblue;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  padding-top: 30px;
}

.data-type {
  width: 200px;
  height: 50px;
  font-size: 20px;
  margin-bottom: 40px;
}

.data {
  width: 600px;
}
